!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="edge")
    %title JS processing
    %meta(name="description" content="JS test")
    %script{:type => "text/javascript", :src => "processing-1.4.1.min.js"}
    //%link{:rel => 'stylesheet', :href => '/stylesheets/global.css', :type => 'text/css', :media => 'all'}
  %body
    %h1 Processing.js Test
    %p This is my first Processing.js web-based sketch:
    %p 
    %canvas{ "data-processing-sources" => "hello_web.pde" }
    